/*  your css code here. If applicable */
body>div{
	background-color:green;
}
#grid{
	display:grid;
	gap : 4px;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	color:white;
}
#first{
	grid-column:1/5;
}
#second{
	grid-row:2/6;
}
#fourth{
	grid-column:3/5
}
#fifth{
	grid-column:2/4;
}
#tenth{
	grid-column:2/5
}