/*  your css code here. If applicable */
body>div{
	background-color:green;
}
#grid{
	display:grid;
	grid-gap :10px 10px;
	grid-template-rows: 124px 124px 124px 124px 124px;
	grid-template-columns:242.5px 242.5px 242.5px 242.5px
	color:white;
}
#first{
	grid-column:span 4 / auto;
}
#second{
	grid-row:span 4 / auto;
}
#fourth{
	grid-column:span 2 / auto;
}
#fifth{
	grid-column:span 2 / auto;
}
#tenth{
	grid-column:span 3 / auto;
}